.planning-poker[class*=" card-"] { display: block; width: 56mm; height: 87mm; background-size: cover; }
.planning-poker[class*=" card-"].with-border { border: 1px solid darkgray; border-radius: 4mm; }
.planning-poker.card-dunno.green { background-image: url(green/dunno.svg); }
.planning-poker.card-0.green { background-image: url(green/0.svg); }
.planning-poker.card-half.green { background-image: url(green/half.svg); }
.planning-poker.card-1.green { background-image: url(green/1.svg); }
.planning-poker.card-2.green { background-image: url(green/2.svg); }
.planning-poker.card-3.green { background-image: url(green/3.svg); }
.planning-poker.card-5.green { background-image: url(green/5.svg); }
.planning-poker.card-8.green { background-image: url(green/8.svg); }
.planning-poker.card-13.green { background-image: url(green/13.svg); }
.planning-poker.card-20.green { background-image: url(green/20.svg); }
.planning-poker.card-40.green { background-image: url(green/40.svg); }
.planning-poker.card-100.green { background-image: url(green/100.svg); }
.planning-poker.card-infinity.green { background-image: url(green/infinity.svg); }
.planning-poker.card-dunno.red { background-image: url(red/dunno.svg); }
.planning-poker.card-0.red { background-image: url(red/0.svg); }
.planning-poker.card-half.red { background-image: url(red/half.svg); }
.planning-poker.card-1.red { background-image: url(red/1.svg); }
.planning-poker.card-2.red { background-image: url(red/2.svg); }
.planning-poker.card-3.red { background-image: url(red/3.svg); }
.planning-poker.card-5.red { background-image: url(red/5.svg); }
.planning-poker.card-8.red { background-image: url(red/8.svg); }
.planning-poker.card-13.red { background-image: url(red/13.svg); }
.planning-poker.card-20.red { background-image: url(red/20.svg); }
.planning-poker.card-40.red { background-image: url(red/40.svg); }
.planning-poker.card-100.red { background-image: url(red/100.svg); }
.planning-poker.card-infinity.red { background-image: url(red/infinity.svg); }
.planning-poker.card-dunno.yellow { background-image: url(yellow/dunno.svg); }
.planning-poker.card-0.yellow { background-image: url(yellow/0.svg); }
.planning-poker.card-half.yellow { background-image: url(yellow/half.svg); }
.planning-poker.card-1.yellow { background-image: url(yellow/1.svg); }
.planning-poker.card-2.yellow { background-image: url(yellow/2.svg); }
.planning-poker.card-3.yellow { background-image: url(yellow/3.svg); }
.planning-poker.card-5.yellow { background-image: url(yellow/5.svg); }
.planning-poker.card-8.yellow { background-image: url(yellow/8.svg); }
.planning-poker.card-13.yellow { background-image: url(yellow/13.svg); }
.planning-poker.card-20.yellow { background-image: url(yellow/20.svg); }
.planning-poker.card-40.yellow { background-image: url(yellow/40.svg); }
.planning-poker.card-100.yellow { background-image: url(yellow/100.svg); }
.planning-poker.card-infinity.yellow { background-image: url(yellow/infinity.svg); }
.planning-poker.card-dunno.purple { background-image: url(purple/dunno.svg); }
.planning-poker.card-0.purple { background-image: url(purple/0.svg); }
.planning-poker.card-half.purple { background-image: url(purple/half.svg); }
.planning-poker.card-1.purple { background-image: url(purple/1.svg); }
.planning-poker.card-2.purple { background-image: url(purple/2.svg); }
.planning-poker.card-3.purple { background-image: url(purple/3.svg); }
.planning-poker.card-5.purple { background-image: url(purple/5.svg); }
.planning-poker.card-8.purple { background-image: url(purple/8.svg); }
.planning-poker.card-13.purple { background-image: url(purple/13.svg); }
.planning-poker.card-20.purple { background-image: url(purple/20.svg); }
.planning-poker.card-40.purple { background-image: url(purple/40.svg); }
.planning-poker.card-100.purple { background-image: url(purple/100.svg); }
.planning-poker.card-infinity.purple { background-image: url(purple/infinity.svg); }
.planning-poker.card-dunno.grey { background-image: url(grey/dunno.svg); }
.planning-poker.card-0.grey { background-image: url(grey/0.svg); }
.planning-poker.card-half.grey { background-image: url(grey/half.svg); }
.planning-poker.card-1.grey { background-image: url(grey/1.svg); }
.planning-poker.card-2.grey { background-image: url(grey/2.svg); }
.planning-poker.card-3.grey { background-image: url(grey/3.svg); }
.planning-poker.card-5.grey { background-image: url(grey/5.svg); }
.planning-poker.card-8.grey { background-image: url(grey/8.svg); }
.planning-poker.card-13.grey { background-image: url(grey/13.svg); }
.planning-poker.card-20.grey { background-image: url(grey/20.svg); }
.planning-poker.card-40.grey { background-image: url(grey/40.svg); }
.planning-poker.card-100.grey { background-image: url(grey/100.svg); }
.planning-poker.card-infinity.grey { background-image: url(grey/infinity.svg); }
.planning-poker.card-dunno.pink { background-image: url(pink/dunno.svg); }
.planning-poker.card-0.pink { background-image: url(pink/0.svg); }
.planning-poker.card-half.pink { background-image: url(pink/half.svg); }
.planning-poker.card-1.pink { background-image: url(pink/1.svg); }
.planning-poker.card-2.pink { background-image: url(pink/2.svg); }
.planning-poker.card-3.pink { background-image: url(pink/3.svg); }
.planning-poker.card-5.pink { background-image: url(pink/5.svg); }
.planning-poker.card-8.pink { background-image: url(pink/8.svg); }
.planning-poker.card-13.pink { background-image: url(pink/13.svg); }
.planning-poker.card-20.pink { background-image: url(pink/20.svg); }
.planning-poker.card-40.pink { background-image: url(pink/40.svg); }
.planning-poker.card-100.pink { background-image: url(pink/100.svg); }
.planning-poker.card-infinity.pink { background-image: url(pink/infinity.svg); }
.planning-poker.card-dunno.orange { background-image: url(orange/dunno.svg); }
.planning-poker.card-0.orange { background-image: url(orange/0.svg); }
.planning-poker.card-half.orange { background-image: url(orange/half.svg); }
.planning-poker.card-1.orange { background-image: url(orange/1.svg); }
.planning-poker.card-2.orange { background-image: url(orange/2.svg); }
.planning-poker.card-3.orange { background-image: url(orange/3.svg); }
.planning-poker.card-5.orange { background-image: url(orange/5.svg); }
.planning-poker.card-8.orange { background-image: url(orange/8.svg); }
.planning-poker.card-13.orange { background-image: url(orange/13.svg); }
.planning-poker.card-20.orange { background-image: url(orange/20.svg); }
.planning-poker.card-40.orange { background-image: url(orange/40.svg); }
.planning-poker.card-100.orange { background-image: url(orange/100.svg); }
.planning-poker.card-infinity.orange { background-image: url(orange/infinity.svg); }
.planning-poker.card-dunno.blue { background-image: url(blue/dunno.svg); }
.planning-poker.card-0.blue { background-image: url(blue/0.svg); }
.planning-poker.card-half.blue { background-image: url(blue/half.svg); }
.planning-poker.card-1.blue { background-image: url(blue/1.svg); }
.planning-poker.card-2.blue { background-image: url(blue/2.svg); }
.planning-poker.card-3.blue { background-image: url(blue/3.svg); }
.planning-poker.card-5.blue { background-image: url(blue/5.svg); }
.planning-poker.card-8.blue { background-image: url(blue/8.svg); }
.planning-poker.card-13.blue { background-image: url(blue/13.svg); }
.planning-poker.card-20.blue { background-image: url(blue/20.svg); }
.planning-poker.card-40.blue { background-image: url(blue/40.svg); }
.planning-poker.card-100.blue { background-image: url(blue/100.svg); }
.planning-poker.card-infinity.blue { background-image: url(blue/infinity.svg); }
.planning-poker.card-coffee.special { background-image: url(special/coffee.svg); }
